.alert-success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.management-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.management-form__heading {
    margin-bottom: 30px;
    text-align: center;
}

.search-form {
    margin: 0 auto;
    padding: 30px;
    border: 2px solid black;
    text-align: center;
    font-size: 16px;
}

.search-form__item {
    display: flex;
}

.search-form__group {
    display: flex;
    justify-content: space-between;
}

.search-form__group-date {
    display: flex;
    justify-content: flex-end;
}

.search-form__lavel--item {
    display: inline-block;
    margin: 8px 10px 0 0;
}

.search-form__lavel--item-fullname {
    margin-right: 100px;
}

.search-form__lavel--item-email {
    margin-right: 36px;
}

.search-form__lavel--item-gender {
    margin-left: 40px;
    margin-right: 20px;
}

.search-form__lavel--item-date {
    margin-right: 100px;
}

.search-form__lavel--item-period {
    margin-left: 15px;
    margin-right: 15px;
}

.search-form__radio input,
.search-form__radio label {
    display: inline-block;
    margin-top: 8px;
}

.search-form__radio {
    width: 100px;
    margin-left: 5px;
}

.search-form__radio label {
    margin-left: 15px;
}

.search-form__item-bottom {
    text-align: center;
}

.search-form__lavel--item {
    font-weight: bold;
}

.search-form__radio input {
    transform: scale(3);
}

.search-form__input input {
    padding: 10px;
    width: 270px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;

    appearance: none;
}

.search-result__table {
    margin-top: 10px;
}

.search-result__column {
    border-bottom: 1px solid #000;
}

.search-result__id,
.search-result__name,
.search-result__gender,
.search-result__item-id,
.search-result__item-name,
.search-result__item-gender {
    width: 10%;
}

.search-result__email,
.search-result__item-email {
    width: 15%;
}

.search-result__opinion,
.search-result__item-opinion {
    width: 45%;
}

.search-result__name,
.search-result__gender,
.search-result__email,
.search-result__opinion {
    text-align: left;
}

.search-result__item-id,
.search-result__item-button {
    text-align: center;
}

.search-form__item-bottom a {
    color: #000;
}

.form__button {
    margin-bottom: 5px;
}

.form__button-submit {
    padding: 10px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: #000;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.search-result__button-submit {
    padding: 5px;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: #000;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

svg.w-5.h-5 {
    /*paginateメソッドの矢印の大きさ調整のために追加*/
    width: 30px;
    height: 30px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.pagination-item {
    display: flex;
    align-items: center;
}